
html {
 margin:0;
}

::-moz-selection{
background: #87d1f5;
}

::selection {
background: #87d1f5;
}

body {
 margin:0;
 min-width:1000px;
 font-family: 'helvetica', 'arial', sans-serif;
 color:#2e2d33;
 background: #fbfbfb url(../images/gn-bg.png) repeat top left ;
}

h1,h2,h3,h4,h5,h6 {
 font-weight:normal;
 color:#ca5818;
 text-shadow: 0 1px 0 rgba(255,255,255,.6);
 margin:0;
 text-align:left;
}

h1 {
 color:#ffffff;
 font-weight:bold;
 font-size:36px;
 text-shadow:0 -1px 0 rgba(0,0,0,1);
}

h2 {
 font-size:30px;
 line-height:35px;
 letter-spacing:-1px;
}

h3 {
 font-size:23px;
}

#test-area h3 {
 color:#3a5180;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
}

textarea:focus {
     outline: none;
}

p {
 font-size:14px;
 line-height:19px;
 text-shadow: 0 -1px rgba(0,0,0,0), 0 1px rgba(255,255,255,.6);
 text-align:justify;
}

p a {
 text-decoration:none;
 color:#2f4e8c;
 font-weight:bold;
}

p a:hover {
 text-decoration:underline;
}

.screen-hide {
 position:absolute;
 left:-9000px;
}

.max-width {
 width:970px;
 margin: 0 auto;
 position:relative;
}

#header {
 border-bottom:1px solid #dfe7ef;
 height:77px;
 padding-top:35px;

 background: rgb(223,98,25); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(223,98,25,1) 0%, rgba(163,71,24,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,98,25,1)), color-stop(100%,rgba(163,71,24,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6219', endColorstr='#a34718',GradientType=0 ); /* IE6-9 */
}

#header #sprites {
 position:absolute;
 right:0;
 top:0;
 width:250px;
 list-style:none;
 margin:0;
 padding:0;
}

#header li {
 display:inline-block;
}

.header-sprite {
 display:inline-block;
 height:33px;
 background: url(../images/header-sprites.png) no-repeat top left;
 margin:0 13px;
}

.squiz-logo {
 width:67px;
 background-position:0px 0px;
}

.squiz-logo:hover {
 background-position:0px -32px;
}

.github-logo {
 width:62px;
 background-position:-71px 0px;
}

.github-logo:hover {
 background-position:-71px -32px;
}

.twitter-logo {
 width:33px;
 background-position:-137px 0px;
}

.twitter-logo:hover {
 background-position:-137px -32px;
}

#introduction {
 position:relative;
 z-index:1;
 padding:35px 0 50px 0;
 background: #d7dbe0 url(../images/introduction-bg.jpg) repeat-x top;
 font-size:13px;
 min-height:410px;
 border-top:1px solid #dedede;
 box-shadow: 0 -4px 8px rgba(0,0,0,.1);
}

#introduction p {
 margin:26px 0;
}

#introduction ul {
 margin:0;
 padding:0;
}

#introduction li {
 display:inline-block;
 text-shadow:0 -1px 0 rgba(0,0,0,0), 0 1px 0 rgba(255,255,255,.5);
 margin:20px 5px 0 0;
 box-sizing:border-box;
 border-radius:3px;
 border:1px solid #a5aebd;
 box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 1px 0 rgba(255,255,255,.4);

 background: rgb(198,204,213); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(198,204,213,1) 0%, rgba(165,174,189,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,204,213,1)), color-stop(100%,rgba(165,174,189,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(198,204,213,1) 0%,rgba(165,174,189,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(198,204,213,1) 0%,rgba(165,174,189,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(198,204,213,1) 0%,rgba(165,174,189,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(198,204,213,1) 0%,rgba(165,174,189,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6ccd5', endColorstr='#a5aebd',GradientType=0 ); /* IE6-9 */
}

#introduction li:hover {
 border:1px solid #7f8ba0;

 background: rgb(174,183,196); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(174,183,196,1) 0%, rgba(148,158,176,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,183,196,1)), color-stop(100%,rgba(148,158,176,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(174,183,196,1) 0%,rgba(148,158,176,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(174,183,196,1) 0%,rgba(148,158,176,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(174,183,196,1) 0%,rgba(148,158,176,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(174,183,196,1) 0%,rgba(148,158,176,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb7c4', endColorstr='#949eb0',GradientType=0 ); /* IE6-9 */
}

#introduction li a {
 color:#2f4269;
 font-weight:normal;
 padding:8px 9px;
 display:block;
 text-decoration:none;
}

#introduction li a:hover {
 text-decoration:none;
}

#introduction #content {
 width:440px;
 text-align:justify;
 overflow:hidden;
}

#introduction #bookmarklet {
 border-radius:5px;
 border:7px solid #ffffff;
 width:460px;
 float:right;
 position:absolute;
 top:-45px;
 right:0;
 height:130%;
 z-index:1;
 background: #2f4269 url(../images/bookmarklet-feature-bg.jpg) repeat;
 box-shadow: 0 0 10px rgba(0,0,0,.3), 0 1px 5px rgba(0,0,0,.3) inset;
 padding:20px 0;
 overflow:hidden;
}

#bookmarklet-feature {
 position:absolute;
 top:0;
 left:0;
 background: url(../images/bookmarklet-feature.jpg) top left no-repeat;
 width:465px;
 height:328px;
}

#introduction #bookmarklet .button {
 position:relative;
 width:395px;
 height:60px;
 padding-top:10px;
 background:#cc6633;
 margin:340px auto 0 auto;
 text-align:center;
 font-size:22px;
 color:#ffffff;
 text-shadow:0 -1px 0 rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,0), 0 1px 1px rgba(0,0,0,0);
 border-radius:3px;
 box-shadow: 0 1px rgba(255,255,255,.4) inset,  0 1px 0 rgba(0,0,0,.5);

 background: rgb(223,98,25); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(223,98,25,1) 0%, rgba(163,71,24,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,98,25,1)), color-stop(100%,rgba(163,71,24,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6219', endColorstr='#a34718',GradientType=0 ); /* IE6-9 */
}

#introduction #bookmarklet .button:hover {
 background: rgb(32,92,175); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(32,92,175,1) 0%, rgba(23,64,122,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,92,175,1)), color-stop(100%,rgba(23,64,122,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205caf', endColorstr='#17407a',GradientType=0 ); /* IE6-9 */
}

#bookmarklet .button-ins {
 font-size:12px;
 font-weight:bold;
 line-height:18px;
}

#bookmarklet .requirements {
 color:#acb3c3;
 font-size:11px;
 text-align:center;
 padding:15px 40px;
}

/* IE 9 Hover Fix */
#add-bookmarklet {
 position:absolute;
 width:100%;
 height:100%;
 top:0;
 left:0;
 z-index:10;
 background: url(../images/gn-trans.png) repeat;
}

.zigzag {
 width:100%;
 height:7px;
 background: url(../images/introduction-border-top.png) repeat-x bottom left;
 position:absolute;
 bottom:0;
 z-index:3;
}

.zigzag-grey {
 background: url(../images/gn-border-top.png) repeat-x bottom left;
}

#test-area {
 background:url(../images/gn-bg.png);
 position:relative;
 z-index:10;
 padding:40px 0 30px 0;
}

#test-area table {
 border-collapse: collapse;
 border:1px solid #cccccc;
 font-size:14px;
 margin:25px 0;
 text-align:left;
}

#test-area th{
 background:#d2d7dd;
 padding:9px 10px;
 font-weight:bold;
 font-size:15px;
 text-shadow: 0 1px 0 rgba(255,255,255,.9);
 border-right:1px solid #d2d7dd;
}

#test-area td{
 padding:7px 10px;
 text-align:left;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
 border-right:1px solid #d2d7dd;
}

#test-area tr:nth-child(even) {
 background: #fafafa;
}
#test-area tr:nth-child(odd) {
 background: #e8ebee;
}

#code-input {
 position:relative;
 width:968px;
 background: #e8ebee;
 margin:25px 0;
 border:1px solid #d2d7dd;
 clear:both;
}

#code-overlay {
 background-color:#2e2d33;
 background:url(../images/overlay-bg.jpg) repeat top left;
 width:964px;
 height:188px;
 color:#848484;
 font-size:25px;
 text-align:center;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 padding-top:70px;
 box-shadow:0 0 80px rgba(0,0,0,.7) inset;
 position:absolute;
 top:2px;
 left:2px;
 z-index:10;
 clear:both;
 display:block;

 -moz-transition: opacity 0.4s ease 0s;
 -webkit-transition: opacity 0.4s ease 0s;
}

#test-area-graphic {
 width:77px;
 height:58px;
 background:url(../images/test-area-html.png);
 margin:10px auto;
}

#source {
 width:944px;
 position:relative;
 top:2px;
 left:2px;
 height:238px;
 z-index:5;
 padding:10px;
 margin:0;
 clear:both;
 background: #26252b; /* Old browsers */
 border:none;
 font-family: "menlo", monaco, monospace;
 font-size:13px;
 display:block;
 color:#ffffff;
}

#test-options {
 position:relative;
 width:960px;
 padding:14px 0;
}

#test-options ul {
 margin:0;
 padding:0 0 0 15px;
 width:700px;
}

#test-options li {
 display:inline-block;
 font-size:13px;
 font-weight:bold;
 text-shadow: 0 -1px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.8);
 padding-right:15px;
}

#results-overview {
 display:inline-block;
 background: #f9f8f8;
 box-shadow:0 -1px rgba(0,0,0,.20), 0 1px rgba(255,255,255,.8), 0 0 6px rgba(0,0,0,.10) inset;
 border-radius:4px;
 font-size:13px;
 position:absolute;
 right:0;
 top:0;
 margin:0;
 padding:0 0 1px 0;
}

#results-overview li {
 display:inline-block;
 padding:5px 15px;
 border-right:1px solid #d8d8d8;
}

#results-overview li:last-child {
 border-right:none;
}

.result-count {
 font-weight:bold;
 text-shadow:0 -1px rgba(0,0,0,.20), 0 1px rgba(255,255,255,.8);
 font-size:18px;
}

.result-type {
 position:relative;
 top:-2px;
}

.result-count-errors {
 color:#993333;
}

.result-count-warnings {
 color:#b3913a;
}

.result-count-notices {
 color:#66656b;
}

#test-results {
 position:relative;
 padding:5px 0;
}

.radio-gen {
 display:inline-block;
 position:relative;
 height:16px;
 width:16px;
 border-radius:8px;
 box-shadow: 0 1px 0 rgba(255,255,255,.8), 0 1px 0 rgba(0,0,0,.3) inset;
 top:2px;

 background: rgb(165,174,189); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(165,174,189,1) 0%, rgba(198,204,213,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,174,189,1)), color-stop(100%,rgba(198,204,213,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(165,174,189,1) 0%,rgba(198,204,213,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(165,174,189,1) 0%,rgba(198,204,213,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(165,174,189,1) 0%,rgba(198,204,213,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(165,174,189,1) 0%,rgba(198,204,213,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5aebd', endColorstr='#c6ccd5',GradientType=0 ); /* IE6-9 */
}

.radio-gen.radio-on {
    position:relative;
    top:-2px;
}

.radio-gen.radio-on:after {
 content:'';
 display:inline-block;
 width:10px;
 height:10px;
 position:relative;
 top:2px;
 left:2px;
 border-radius:6px;
 border:1px solid #a45024;
 box-shadow: 0 1px rgba(255,255,255,.4) inset,  0 1px 0 rgba(255,255,255,.2);

 background: rgb(223,98,25); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(223,98,25,1) 0%, rgba(163,71,24,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,98,25,1)), color-stop(100%,rgba(163,71,24,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6219', endColorstr='#a34718',GradientType=0 ); /* IE6-9 */
}

.radio-input {
 position:absolute;
 z-index:1;
 border:1px solid red;
 visibility:hidden;
}

#test-options button {
 display:inline-block;
 padding:7px;
 font-size:13px;
 color:#ffffff;
 font-weight:normal;
 text-shadow:0 -1px 0 rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.1), 0 1px 1px rgba(0,0,0,.2);
 box-sizing:border-box;
 border-radius:3px;
 border:1px solid #a34718;
 box-shadow: 0 1px rgba(255,255,255,0) inset, 0 1px 0 rgba(255,255,255,.4);
 position:absolute;
 top:7px;
 right:0;
 cursor:pointer;
}

#test-options button:hover {
 border:1px solid #17407a;
}

.test-options-disabled {
 background: rgb(224,164,130); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,164,130,1) 0%, rgba(196,151,129,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,164,130,1)), color-stop(100%,rgba(196,151,129,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a482', endColorstr='#c49781',GradientType=0 ); /* IE6-9 */
}

.test-options-disabled:hover {
 background: rgb(224,164,130); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,164,130,1) 0%, rgba(196,151,129,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,164,130,1)), color-stop(100%,rgba(196,151,129,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(224,164,130,1) 0%,rgba(196,151,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a482', endColorstr='#c49781',GradientType=0 ); /* IE6-9 */
}

.test-options-active {
 background: rgb(223,98,25); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(223,98,25,1) 0%, rgba(163,71,24,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,98,25,1)), color-stop(100%,rgba(163,71,24,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(223,98,25,1) 0%,rgba(163,71,24,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6219', endColorstr='#a34718',GradientType=0 ); /* IE6-9 */
}

.test-options-active:hover {
 background: rgb(32,92,175); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(32,92,175,1) 0%, rgba(23,64,122,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,92,175,1)), color-stop(100%,rgba(23,64,122,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(32,92,175,1) 0%,rgba(23,64,122,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205caf', endColorstr='#17407a',GradientType=0 ); /* IE6-9 */
}

#footer {
 position:relative;
 background: #ffffff url(../images/introduction-bg.jpg);
 text-align:center;
 padding:25px 0 10px 0;
 z-index:10;
 height:50px;
 text-shadow: 0 -1px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.8);
}

#footer p {
 font-size:12px;
 letter-spacing:1px;
 text-align:center;
}

