
html {
 margin:0;
}

::-moz-selection{
background: #87d1f5;
}

::selection {
background: #87d1f5;
}

body {
 margin:0;
 min-width:1000px;
 font-family: 'helvetica', arial, sans-serif;
 color:#2e2d33;
 background: #ffffff repeat top left;
}

h1,h2,h3,h4,h5,h6 {
 font-weight:normal;
 color:#F26100;
 margin:0;
 text-align:left;
}

h1 {
 color:#ffffff;
 font-weight:bold;
 font-size:36px;
 text-shadow:0 -1px 0 rgba(0,0,0,.9);
}

h1 .htmlcs-heading {
 display:block;
 padding-right:3px; 
 position:relative; 
 top:3px;
 background: url(../images/html-code-sniffer.png) no-repeat top left;
 width:385px;
 height:34px;
}

h2 {
 font-size:30px;
 line-height:34px;
 letter-spacing:-1px;
}

h3 {
 font-size:24px;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
}

#introduction h3 {
 margin-top:10px;
}

#test-area h3 {
 color:#3a5180;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
}

.dark-heading {
 color:#3a5180;
}

textarea:focus {
 outline: none;
}

p {
 color:#18243b;
 font-size:14px;
 line-height:20px;
 text-align:justify;
 text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

p a {
 text-decoration:underline;
 color:#385287;
 font-weight:normal;
 text-shadow:none;
/* background-color:#d9e8f5; */
}

p a:hover {
 text-decoration:underline;
 color:#dc5e2d;
}

.screen-hide {
 position:absolute;
 left:-9000px;
}

.max-width {
 width:970px;
 margin: 0 auto;
 position:relative;
}

#header {
 height:73px;
 padding-top:35px;
 background: #cc5915 url(../images/header-bg.png) top left repeat;
}

#header #sprites {
 position:absolute;
 right:0;
 top:0;
 width:250px;
 list-style:none;
 margin:0;
 padding:0;
}

#header li {
 display:inline-block;
}

.header-sprite {
 display:inline-block;
 height:33px;
 background: url(../images/header-sprites.png) no-repeat top left;
 margin:0 13px;
}

.squiz-logo {
 width:67px;
 background-position:0px 0px;
}

.squiz-logo:hover {
 background-position:0px -32px;
}

.github-logo {
 width:62px;
 background-position:-71px 0px;
}

.github-logo:hover {
 background-position:-71px -32px;
}

.twitter-logo {
 width:33px;
 background-position:-137px 0px;
}

.twitter-logo:hover {
 background-position:-137px -32px;
}

#sub-header {
 width:100%; 
 margin:0 auto;
 height:50px;
 background: #91bed4;
 display:none;
}

#introduction {
 position:relative;
 z-index:1;
 padding:30px 0 50px 0;
 background:url(../images/intro-bg.png);
 font-size:13px;
 min-height:410px;
 border-top:2px solid #ffffff;
 box-shadow: 0 -2px 2px rgba(0,0,0,.13); 
}

#introduction p {
 margin:22px 0;
}

#introduction ul {
 margin:0;
 padding:0;
}

#introduction li {
 display:inline-block;
 margin:22px 4px 0 0;
 border-radius:3px;
 border:1px solid #e0e0e0;
 box-shadow: 0 1px 0 rgba(255,255,255,1) inset;
 background: rgb(237,242,244); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(237,242,244,1) 0%, rgba(217,226,230,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,242,244,1)), color-stop(100%,rgba(217,226,230,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* W3C */
}

#introduction li:hover {
 border:1px solid #e0e0e0;

 background: rgb(215,231,239); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(215,231,239,1) 0%, rgba(204,220,228,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,231,239,1)), color-stop(100%,rgba(204,220,228,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(204,220,228,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(204,220,228,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(204,220,228,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(215,231,239,1) 0%,rgba(204,220,228,1) 100%); /* W3C */
}

#introduction li:last-child {
 margin-right:0;
}

#introduction li a {
 color:#3a5180;
 font-weight:normal;
 padding:8px 10px;
 display:block;
 text-decoration:none;
 text-shadow:0 -1px 0 rgba(0,0,0,0), 0 1px 0 rgba(255,255,255,.5);
}

#introduction li a:hover {
 text-decoration:none;
}

#introduction #content {
 width:440px;
 text-align:justify;
 overflow:hidden;
}

.introduction-divider {
 position:relative; 
 left:2px;
 padding-bottom:10px;
}

#introduction #bookmarklet {
 border-radius:5px;
 border:8px solid #ffffff;
 width:460px;
 float:right;
 position:absolute;
 top:-40px;
 right:0;
 height:110%;
 z-index:10000;
 background: #2c3e62  url(../images/bookmarklet-bg.jpg) repeat top left;
 box-shadow: 0 0 10px rgba(0,0,0,.3), 0 1px 5px rgba(0,0,0,.3) inset;
 padding:20px 0;
}

#bookmarklet-feature {
 position:absolute;
 top:5px;
 left:0;
 background: url(../images/bookmarklet-feature.png) top left no-repeat;
 width:470px;
 height:500px;
}

#introduction #bookmarklet .button {
 position:relative;
 left:-18px;
 width:499px;
 height:64px;
 padding-top:4px;
 margin:345px auto 0 auto;
 text-align:center;
 font-size:22px;
 color:#ffffff;
 text-shadow:0 -1px 0 rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,0), 0 1px 1px rgba(0,0,0,0);
 box-shadow: 0 1px rgba(255,255,255,.4) inset,  0 1px 0 rgba(0,0,0,.4);
 background: url(../images/bookmark-button.png) left top no-repeat;
}

#introduction #bookmarklet .button:before {
 content:'';
 display:block;
 width:12px;
 height:7px;
 background: url(../images/bookmark-fold.png) top left no-repeat;
 position:relative;
 top:-11px;
 left:1px;
 z-index:10000;
}

#introduction #bookmarklet .button:hover {
 background: url(../images/bookmark-button-hover.png);
}

#introduction #bookmarklet .button:hover:before  {
 content:'';
 display:block;
 width:12px;
 height:7px;
 background: url(../images/bookmark-fold-hover.png) top left no-repeat;
 position:relative;
 top:-11px;
 left:1px;
 z-index:10000;
}

#bookmarklet .button-ins {
 font-size:12px;
 font-weight:bold;
 line-height:18px;
 position:relative;
 top:-4px;
}

#bookmarklet .requirements {
 color:#b6c8dc;
 font-size:11px;
 text-align:center;
 padding:25px 80px;
 text-shadow: 0 -1px 0 rgba(0,0,0,1);
 letter-spacing:1px;
}

/* IE 9 Hover Fix */
#add-bookmarklet {
 position:absolute;
 width:100%;
 height:100%;
 top:0;
 left:0;
 z-index:10;
 background: url(../images/gn-trans.png) repeat;
}

.zigzag {
 width:100%;
 height:1px;
 background: url(../images/zigzag-border-bottom.png) repeat-x bottom left;
 position:absolute;
 bottom:0;
 z-index:3;
}

.zigzag-bottom {
 width:100%;
 height:21px;
 background: url(../images/zigzag-border-top.png) repeat-x top left;
 position:absolute;
 top:0;
 z-index:3;
}

#test-area {
 background:#d9e8f5 url(../images/test-area-bg.png);
 position:relative;
 z-index:10;
 padding:30px 0 15px 0;
 border-top:1px solid #ffffff;
 box-shadow:0 -1px 0px #c6c6c6;
}

#test-area table {
 border-collapse: collapse;
 border:1px solid #e0e0e0;
 border-bottom:none;
 font-size:14px;
 margin:-20px 0 0px 14px;
 text-align:left;
 box-shadow: 0 1px rgba(255,255,255,.8);
 border-radius:5px;
 width:939px; 
 text-shadow: 0 -1px 0 rgba(255,255,255,1);
}

#test-area tr {
 border-bottom:1px solid #ffffff;
 border-radius:3px;
}

#test-area tr:last-child {
 border-bottom:none;
}

#test-area tr:hover {
 background: #e0dddd;
}

#test-area th{
 background:#e0e0e0;
 padding:9px 10px;
 font-weight:bold;
 font-size:15px;
 text-shadow: 0 1px 0 rgba(255,255,255,.9);
 border-left:1px solid #d8d7d7;
 box-shadow: 0 1px 0 #ebeaea inset;
 border-top:1px solid #e0e0e0;
}

#test-area th:first-child {
 text-align:center;
}

#test-area td{
 padding:7px 15px;
 text-align:left;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
 border-right:1px solid #e0e0e0;
 color:#1c283f;
 vertical-align:top;
 box-shadow: 0 -1px 0 #e0e0e0 inset;
 background:#f4f4f4 no-repeat top left;
}

#test-area td:last-child {
 box-shadow:1px 0 0 #ffffff inset, 0 -1px 0 #e0e0e0 inset;
}

#test-area td:first-child {
 box-shadow: 0 -1px 0 #e0e0e0 inset;
 border-left:none;
 text-align:center;
}

#code-input {
 position:relative;
 width:968px;
 padding-bottom:12px;
 background: #ffffff;
 margin:20px 0;
 border:1px solid #c6c6c6;
 clear:both;
 border-radius:5px;
 background: #f9f8f8;
 box-shadow:0 1px rgba(255,255,255,1), 0 0px 40px rgba(255,255,255,.5), 0 0 6px rgba(0,0,0,.2) inset;
 border-radius:4px;
 font-size:13px;
}

#code-overlay {
 background: #2f4269 url(../images/overlay-bg.png) repeat;
 width:940px;
 height:179px;
 color:#ffffff;
 font-size:23px;
 text-align:center;
 padding-top:84px;
 position:absolute;
 top:14px;
 left:14px;
 z-index:10;
 clear:both;
 display:block;
 cursor:pointer;
 -moz-transition: opacity 0.4s ease 0s;
 -webkit-transition: opacity 0.4s ease 0s;
 border-radius:3px;
 text-shadow:none;
 box-shadow:0 0 30px rgba(0,0,0,.4) inset;
}

#test-area-graphic {
 width:44px;
 height:32px;
 background:url(../images/test-area-html.png) top left no-repeat;
 margin:10px auto;
}

#source {
 width:920px;
 position:relative;
 top:14px;
 left:14px;
 height:243px;
 z-index:5;
 padding:10px;
 margin:0;
 clear:both;
 background: #26252b;
 border:none;
 font-family: "menlo", monaco, monospace;
 font-size:12px;
 display:block;
 color:#ffffff;
 text-shadow: 0 -1px 0 rgba(0,0,0,1);
 border-radius:3px;
}

#source::-webkit-scrollbar {
 -webkit-appearance: none;
 width: 8px;
}
#source::-webkit-scrollbar-thumb {
 border-radius: 8px;
 background-color: #454545;
}

#test-options {
 position:relative;
 width:960px;
 padding:18px 0;
 color:#1c283f;
}

#test-options ul {
 margin:0;
 padding:0 0 0 15px;
 width:700px;
 position:relative;
 top:8px;
}

#test-options li {
 display:inline-block;
 font-size:13px;
 font-weight:normal;
 text-shadow: 0 1px rgba(255,255,255,.8);
 padding-right:15px;
}

#results-overview {
 display:inline-block;
 background: #f6f6f6;
 box-shadow:0 -1px rgba(0,0,0,.20), 0 1px rgba(255,255,255,.8), 0 0 6px rgba(0,0,0,.10) inset;
 border-radius:4px;
 font-size:13px;
 position:relative;
 top:-18px;
 left:325px;
 padding:0 0 1px 0;
 border:1px solid #d2d7dd;

}

#results-overview li {
 display:inline-block;
 padding:10px 20px 5px 20px;
 border-right:1px solid #d8d8d8;
}

#results-overview li:last-child {
 border-right:none;
}

.result-count {
 font-weight:bold;
 font-size:18px;
}

.result-type {
 position:relative;
 top:-2px;
}


.result-count-errors {
 color:#993333;
}

.result-count-warnings {
 color:#b3913a;
}

.result-count-notices {
 color:#66656b;
}

tr.error td.assertType {
    background: #993333;
}

tr.warning td.assertType {
    background: #b3913a;
}

tr.notice td.assertType {
    background: #66656b;
}

#test-results {
 position:relative;
 padding:5px 0 0 0 ;

}

.radio-gen {
 display:inline-block;
 position:relative;
 height:16px;
 width:16px;
 border-radius:10px;
 box-shadow:0 1px rgba(255,255,255,1), 0 0px 40px rgba(255,255,255,.5), 0 0 1px rgba(0,0,0,.2) inset;
 top:4px;
 margin-right:2px;
 border:1px solid #c6c6c6;
 cursor: pointer;
 background: rgb(217,226,230); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(217,226,230,1) 0%, rgba(237,242,244,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,226,230,1)), color-stop(100%,rgba(237,242,244,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(217,226,230,1) 0%,rgba(237,242,244,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(217,226,230,1) 0%,rgba(237,242,244,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(217,226,230,1) 0%,rgba(237,242,244,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(217,226,230,1) 0%,rgba(237,242,244,1) 100%); /* W3C */
}

.radio-gen.radio-on {
 position:relative;
 top:-1px;
}

.radio-gen.radio-on:after {
 content:'';
 display:inline-block;
 width:10px;
 height:10px;
 position:relative;
 top:2px;
 left:2px;
 border-radius:8px;
 border:1px solid #a45024;
 box-shadow: 0 1px rgba(255,255,255,.4) inset,  0 1px 0 rgba(255,255,255,.2);
 background: #cc5915 url(../images/header-bg.png);
}

.radio-input {
 position:absolute;
 z-index:1;
 border:1px solid red;
 visibility:hidden;
}

#test-options button {
 display:inline-block;
 padding:7px 11px;
 font-size:13px;
 font-weight:normal;
 box-sizing:border-box;
 border-radius:2px;
 position:absolute;
 top:23px;
 right:5px;
 cursor:pointer;

}

#test-options fieldset {
 margin: 0;
 padding: 0;
 border: 0;
}

#test-options legend {
 visibility: hidden;
 line-height: 0px;
}

.test-options-disabled {
 color:#c5cdd0;
 text-shadow: 0 1px 0 rgba(255,255,255,.4);
 border:1px solid #e0e0e0;
 box-shadow: 0 1px 0 rgba(255,255,255,1) inset;
 background: rgb(237,242,244); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(237,242,244,1) 0%, rgba(217,226,230,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,242,244,1)), color-stop(100%,rgba(217,226,230,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* W3C */
}

.test-options-disabled:hover {
 color:#c5cdd0;
 text-shadow: 0 1px 0 rgba(255,255,255,.4);
 border:1px solid #e0e0e0;
 box-shadow: 0 1px 0 rgba(255,255,255,1) inset;
 background: rgb(237,242,244); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(237,242,244,1) 0%, rgba(217,226,230,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,242,244,1)), color-stop(100%,rgba(217,226,230,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(237,242,244,1) 0%,rgba(217,226,230,1) 100%); /* W3C */
}

.test-options-active {
 box-shadow: 0 1px 0 rgba(255,255,255,.4) inset; 
 color:#ffffff;
 text-shadow: 0 -1px 0 rgba(0,0,0,.4);
 border:1px solid #CB5319;
 background: rgb(225,94,30); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(225,94,30,1) 0%, rgba(203,83,25,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,94,30,1)), color-stop(100%,rgba(203,83,25,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(225,94,30,1) 0%,rgba(203,83,25,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(225,94,30,1) 0%,rgba(203,83,25,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(225,94,30,1) 0%,rgba(203,83,25,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(225,94,30,1) 0%,rgba(203,83,25,1) 100%); /* W3C */
}

.test-options-active:hover {
 border:1px solid #C9480C;

 background: rgb(224,86,22); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,86,22,1) 0%, rgba(201,72,12,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,86,22,1)), color-stop(100%,rgba(201,72,12,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(224,86,22,1) 0%,rgba(201,72,12,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(224,86,22,1) 0%,rgba(201,72,12,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(224,86,22,1) 0%,rgba(201,72,12,1) 100%); /* IE10+ */
 background: linear-gradient(top,  rgba(224,86,22,1) 0%,rgba(201,72,12,1) 100%); /* W3C */
}

li label {
 cursor:pointer;
}

#footer {
 position:relative;
 background:#ffffff;
 font-size:13px;
 text-align:center;
 padding:25px 0 10px 0;
 z-index:10;
 height:50px;
 text-shadow: 0 -1px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.8);
}

#footer p {
 font-size:12px;
 letter-spacing:1px;
 text-align:center;
}

#resultsWrapper hr {
 height:1px;
 border:none;
 background: #dcdddd;
 box-shadow: 0 1px 0 #ffffff;
 position:relative;
 top:-3px;
}

#resultsWrapper h3 {
 position:relative;
 left:16px;
 margin:24px 0 0px 0;
}

.footnote {
 display:block;
 width:100%;
 color:#b0afaf;
 text-align:center;
 padding:15px 0 20px 0;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
 letter-spacing:1px;
 font-size:13px;
}

#test-results td.number {
 font-size:15px;
 font-weight:bold;
 text-shadow: 0 1px 0 rgba(255,255,255,1);
 padding-top:8px;
 padding:8px 5px;
}

#test-results tr.warning td.number {
 color:#b3913a;
 background:#f0e9d8;
}

#test-results tr.notice td.number {
 background:#ededef;
 color:#86858c;
}

#test-results tr.error td.number {
 color:#8b2020;
 background:#eedede;
}

#resultsWrapper {
 position:relative;
 width:968px;
 background: #ffffff;
 margin:-10px 0 20px 0;
 border:1px solid #c6c6c6;
 clear:both;
 border-radius:5px;
 background: #f9f8f8;
 box-shadow:0 1px rgba(255,255,255,1), 0 0px 40px rgba(255,255,255,.5), 0 0 6px rgba(0,0,0,.2) inset;
 border-radius:4px;
 font-size:13px;
 overflow:hidden;
}

.resultsWrapperActive {
 border:1px solid red;
}
