    a:link {
    text-decoration:none;
}

a:link:after, a:visited:after { 
 content:" [" attr(href) "] "; color:#305093;
}


h2, h3, h4, h5, h6 {
 color:#000000;
 text-shadow:none;
}

h2,h3 {
 border-bottom: 2px solid #000000;
}

#test-area h3 {
    text-shadow:none;
    color:#000000;
}

p {    
 text-shadow:none; 
 font-size:17px;
 color:#333333;
}

#back-to-top {
 display:none;
}

/* GIT HUB BANNER */

#git {
 display:none;
}

/* HEADER */

#header {
    margin:10px 0 20px 0;
}

#header:after {
 content: url(../images/squiz-logo.png);
 position:absolute;
 top:40px;
 right:15px;
}

#sprites {
 display:none;
}

#introduction {
 border:none;
 box-shadow:none;
 text-shadow:none;
 min-height:0px;
 padding:0;
 margin:0;
}

#introduction #content {
 width:100%;
 text-shadow:none;
 font-size:18px;
}

.introduction-divider {
 display:none;
}

#standards-list {
 display:none;
}

#introduction #bookmarklet {
 display:none;
}
#code-input {
 border-radius:5px;
 border:none;
 width:300px;
 overflow:hidden;
 box-shadow:none;
}

#source {
 display:none;
}

#run-button {
 display:none;
}

button {
 display:none;
}

#code-overlay {
 display:none;
}

#test-area {
 border:none;
 box-shadow:none;
 border-radius:0;
}

#test-area p {
 display:none;
}

#test-area table {
 border-collapse: collapse;
 border:1px solid #000000;
 font-size:14px;
 margin:20px 0 0px 14px;
 text-align:left;
 box-shadow: none;
 width:100%; 
 text-shadow: none;
 color:#333333;
 background:#ffffff;
}

#test-area tr {
 border-bottom:none;
}

#test-area tr:last-child {
 border-bottom:none;
}

#test-area th{
 background:#ffffff;
 color:#ffffff;
 font-weight:bold;
 padding:9px 10px;
 font-weight:bold;
 font-size:15px;
 text-shadow: none;
 border-left:1px solid #d8d7d7;
 box-shadow: none;
 border-top:1px solid #e0e0e0;
}

#test-area th:first-child {
 text-align:center;
}

#test-area td:last-child {
 box-shadow: none;
}

#test-area td:first-child {
 box-shadow: none;
 border-left:none;
 text-align:center;
}

#test-area th{
 background:#ffffff;
 color:#000000;
 font-weight:bold;
 padding:9px 10px;
 font-weight:bold;
 font-size:18px;
 text-shadow: none;
 border-left:1px solid #d8d7d7;
 box-shadow: none;
 border:1px solid #000000;
}

#test-area td{
 padding:7px 15px;
 text-align:left;
 text-shadow: none;
 border:1px solid #000000;
 color:#1c283f;
 vertical-align:top;
 box-shadow: none;
 background:#ffffff;
 color:#333333;
 page-break-inside: avoid;  
}

#resultsWrapper {
 border:none;
 box-shadow:none;
}

.radio-gen {
 box-shadow:none;
 border:1px solid #000000;
}

.radio-gen.radio-on {
 box-shadow:none;
 border:1px solid #000000;
}

.radio-gen.radio-on:after {
 border:5px solid #000000;
 width:2px;
 height:2px;
 box-shadow:none;
}

#test-options {
 position:relative;
 width:960px;
 padding:10px 0;
 color:#1c283f;
 border:none;
 position:relative;
}

#test-options ul {
 margin:0;
 padding:0 0 0 15px;
 width:700px;
 position:relative;
 top:8px;
}

#test-options li {
 display:inline-block;
 font-size:13px;
 font-weight:normal;
 text-shadow: none;
 padding-right:15px;
}

#test-results-heading {
 position:relative;
 top:-70px;
}

#results-overview {
 display:inline-block;
 background: #ffffff;
 box-shadow:none;
 border-radius:0px;
 font-size:13px;
 position:absolute;
 top:0px;
 right:10px;
 padding:0 0 0px 0;
 border:1px solid #000000;
 text-shadow: none;
 overflow:hidden;

}

#results-overview li {
 display:inline-block;
 border-right:1px solid #000000;
 box-shadow: none;
 background:#ffffff;
}

#results-overview li:last-child {
 box-shadow:none;
}

#results-overview li a{
 display:inline-block;
 padding:5px 20px;
 text-decoration:none;
 color:#18243b;
}

#results-overview li:last-child {
 border-right:none;
}

#test-results td.number {
 font-size:15px;
 font-weight:bold;
 text-shadow: none;
 padding-top:8px;
 padding:8px 5px;
}

#resultsWrapper {
 position:relative;
 top:-60px;
 background:none;
}

.footnote {
 display:none;
}

#footer {
 margin-top:0;
 padding-top:0px;
 text-decoration:none;
 color:#333333;
}

#nav {
    display:none;
}