a:link {
    text-decoration:none;
}

#introduction a:link:after, #introduction a:visited:after, #test-area a:link:after, #test-area a:visited:after  { 
 content:" [" attr(href) "] "; color:#305093;
}

h1:after {
 content: url(../images/html-code-sniffer-print.png);
 width:100px;
 position:absolute;
 top:10px;
 left:0;
}

h1 a:after {
content:'';
}

h2, h3, h4, h5, h6 {
 color:#000000;
 text-shadow:none;
}

h2,h3 {
 border-bottom: 2px solid #000000;
 line-height:36px;
}

#test-area h3 {
    text-shadow:none;
    color:#000000;
}

p {    
 text-shadow:none; 
 font-size:17px;
 color:#333333;
}

#back-to-top {
 display:none;
}

/* GIT HUB BANNER */

#git {
 display:none;
}

/* HEADER */

#header {
 margin:10px 0 20px 0;
 border:none;
 box-shadow:none;
}

#header:after {
 content: url(../images/squiz-logo.png);
 position:absolute;
 top:40px;
 right:15px;
}

#sprites {
 display:none;
}

#introduction {
 border:none;
 box-shadow:none;
 text-shadow:none;
 min-height:0px;
 padding:0;
 margin:0;
}

.max-width {
 border:none;
 box-shadow:none;
}

#test-area {
 border:none;
 box-shadow:none;
 border-radius:0;
}


#test-area table {
 border-collapse: collapse;
 border:1px solid #000000;
 font-size:14px;
 margin:20px 0 0px 14px;
 text-align:left;
 box-shadow: none;
 width:100%; 
 text-shadow: none;
 color:#333333;
 background:#ffffff;
}

#test-area tr {
 border-bottom:none;
}

#test-area tr:last-child {
 border-bottom:none;
}

#test-area th{
 background:#ffffff;
 color:#ffffff;
 font-weight:bold;
 padding:9px 10px;
 font-weight:bold;
 font-size:15px;
 text-shadow: none;
 border-left:1px solid #d8d7d7;
 box-shadow: none;
 border-top:1px solid #e0e0e0;
}

#test-area th:first-child {
 text-align:center;
}

#test-area td:last-child {
 box-shadow: none;
}

#test-area td:first-child {
 box-shadow: none;
 border-left:none;
 text-align:center;
}

#test-area th{
 background:#ffffff;
 color:#000000;
 font-weight:bold;
 padding:9px 10px;
 font-weight:bold;
 font-size:18px;
 text-shadow: none;
 border-left:1px solid #d8d7d7;
 box-shadow: none;
 border:1px solid #000000;
}

#test-area td{
 padding:7px 15px;
 text-align:left;
 text-shadow: none;
 border:1px solid #000000;
 color:#1c283f;
 vertical-align:top;
 box-shadow: none;
 background:#ffffff;
 color:#333333;
 page-break-inside: avoid;  
}

.footnote {
 display:none;
}

#footer {
 margin-top:0;
 padding-top:0px;
 text-decoration:none;
 color:#333333;
}

#nav {
    display:none;
}