#HTMLCS-wrapper {
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;

    position: absolute;
    top: 36px;
    right: 3em;
    width: 35em;
    overflow: hidden;
    background-color: #2B2B2B;
    border: 1px solid #2B2B2B;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 1px 0 #555555 inset;
    color: #2B2B2B;
    text-shadow: 0 1px 0 #FFFFFF;
    border-radius: 0.8em 0.8em 0.8em 0.8em;

    font-family: Arial,Sans Serif;
    font-size: 9px;
}

.HTMLCS-header {
    color: #AAAAAA;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;

    width: 100%;
    font-size: 1.2em;
    line-height: 1.8em;
    padding-top: 0.5em;
    text-align: center;

    border-bottom: 1px solid transparent;
}

.HTMLCS-summary,
.HTMLCS-summary-detail {
    text-align: center;
    padding: 0.4em 0.5em 0.9em;
    line-height: 1.3em;
    background: -webkit-gradient(linear, left top, left bottom, from(#919097), to(#727179));
    background: -moz-linear-gradient(center top , #919097, #727179) repeat scroll 0 0 transparent;
    border-top: 1px solid #A2A1A8;
    display: block;
}

.HTMLCS-summary-left {
  color: #000000;
  float: left;
  font-size: 1.35em;
  line-height: 2em;
  max-width: 240px;
  overflow: hidden;
  padding-left: 0.3em;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  white-space: nowrap;
}

.HTMLCS-summary-left strong {
  font-size: 1.1em;
}

.HTMLCS-summary-left .HTMLCS-divider {
  border-left: 1px solid #666666;
  border-right: 1px solid #999999;
  display: inline-block;
  height: 26px;
  margin: 0 0.7em -0.8em 0.5em;
}

.HTMLCS-summary-right {
  text-align: right;
}

.HTMLCS-outer-wrapper {
    width: 70em;
    overflow: hidden;
}

.HTMLCS-inner-wrapper {
    background: url("Images/bgTexture1.gif") repeat scroll 0 0 #54535A;
    border-radius: 0 0 0.75em 0.75em;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 35em;
    overflow: hidden;
    -moz-transition: margin 0.2s ease-in 0s;
    -webkit-transition: margin 0.2s ease-in 0s;

}

.HTMLCS-details {
    display: none;
    line-height: 2em;
    width: 35em;
    overflow: hidden;
    border-top: 1px solid #2B2B2B;
}

.HTMLCS-issue-list,
.HTMLCS-issue-detail-list {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    -moz-transition: margin 0.2s ease-in 0s;
    -webkit-transition: margin 0.2s ease-in 0s;
}

.HTMLCS-issue-list {
    width: 35em;
    z-index: 1;
}

.HTMLCS-issue-list > li {
    font-size: 1.38em;
    background-color: #2B2B2B;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #4B4B4B;
    line-height: 1.3em;
    min-height: 4.2em;
    padding: 0.6em 2em 0.6em 2.2em;
    position: relative;
    text-shadow: 0 -1px 0 #000000;
    margin: 0;
}

.HTMLCS-issue-list > li > .HTMLCS-issue-type,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-type {
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 1.6em;
}

.HTMLCS-issue-type:before {
    background: url("Images/HTMLCS-tools.png") no-repeat scroll 0 0 transparent;
    content: "";
    height: 14px;
    left: 50%;
    margin: -7px 0 0 -7px;
    position: absolute;
    top: 50%;
    width: 14px;
}

.HTMLCS-issue-list > li:after {
  background: url("Images/HTMLCS-tools.png") no-repeat scroll -14px -3px transparent;
  content: "";
  height: 14px;
  margin-top: -7px;
  position: absolute;
  right: 0.7em;
  top: 50%;
  width: 9px;
}

.HTMLCS-issue-list > li > .HTMLCS-issue-type.warning,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-type.warning {
    background-color: #C5A00C;
    border-top-color: #F2D560;
}

.HTMLCS-issue-type.warning:before {
    background-position: 0 -14px;
}

.HTMLCS-issue-list > li > .HTMLCS-issue-type.error,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-type.error {
    background-color: #952424;
    border-top-color: #C76161;
}

.HTMLCS-issue-list > li > .HTMLCS-issue-type.notice,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-type.notice {
    background-color: #6C6B72;
    border-top-color: #828188;
}

.HTMLCS-issue-type.notice:before {
    background-position: 0 -28px;
}

.HTMLCS-issue-list > li > .HTMLCS-issue-title,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-title {
    color: #FFFFFF;
    display: block;
}

.HTMLCS-details > .HTMLCS-issue-list > li:hover {
  background-color: #3B3B3B;
  border-top-color: #5B5B5C;
  cursor: pointer;
}

.HTMLCS-details > .HTMLCS-issue-detail-list > li {
    display: inline-block;
    vertical-align: top;
}

.HTMLCS-issue-detail-list > li {
    background-color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    border-top: 1px solid #4B4B4B;
    color: #FFFFFF;
    width: 35em;
    max-height: 15em;
    position: relative;
    text-shadow: none;
}

.HTMLCS-issue-detail-list > li.current {
    max-height: inherit;
}

.HTMLCS-issue-detail-list > li > div {
    font-size: 1.36em;
    padding: 1.2em 2.8em;
}

.HTMLCS-issue-detail-list > li .HTMLCS-issue-title {
    font-size: 1.1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #000000;
}

.HTMLCS-issue-detail-list > li .HTMLCS-issue-wcag-ref {
    border-top: 1px solid #5B5B5B;
    padding-top: 1em;
    text-shadow: none;
    color: #FFFFFF;
}

.HTMLCS-issue-detail-list > li .HTMLCS-issue-wcag-ref > em {
    color: #8F8F94;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    margin-top: 0.5em;
    min-width: 5.5em;
}

.HTMLCS-issue-detail-list > li .HTMLCS-issue-wcag-ref > a,
.HTMLCS-issue-detail-list > li .HTMLCS-issue-wcag-ref > a:visited {
    border-bottom: 1px solid #87878E;
    color: #DBDBE1;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
}

.HTMLCS-issue-detail-list > li .HTMLCS-issue-wcag-ref > a:after {
    background: url("Images/HTMLCS-tools.png") no-repeat scroll 0 -42px transparent;
    content: "";
    display: inline-block;
    height: 11px;
    margin: 0 0 0 0.5em;
    width: 12px;
}

.HTMLCS-navigation {
    font-size: 1.5em;
    line-height: 2em;
    padding: 0.5em 0 0.6em;
    text-align: center;
    display: none;
}

.HTMLCS-page-number {
    color: #EEEEEE;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 1em;
    text-shadow: none;
    vertical-align: middle;
}

.HTMLCS-nav-button {
    background-image: url("Images/HTMLCS-tools.png");
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline-block;
    height: 2.2em;
    position: relative;
    width: 2.5em;
}

.HTMLCS-nav-button.previous {
    background-position: -58px -74px;
}

.HTMLCS-nav-button.next {
    background-position: -59px -47px;
}

.HTMLCS-nav-button.disabled {
    cursor: default;
    opacity: 0.3;
}

.HTMLCS-button {
    background: -webkit-gradient(linear, left top, left bottom, from(#E9E9EB), to(#C2C2CB));
    background: -moz-linear-gradient(center top , #E9E9EB, #C2C2CB) repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.4), 0 2px 2px -2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.8) inset, 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    color: #2B2B2B;
    text-shadow: 0 1px 0 #FFFFFF;

    border-radius: 0.25em 0.25em 0.25em 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-left: 0.3em;
    min-width: 1em;
    padding: 0 0.5em;
    position: relative;
    text-align: center;
}

.HTMLCS-button-group {
    display: inline-block;
    margin-left: 0.6em;
}

.HTMLCS-button-group:first-child {
    margin-left: 0;
}

.HTMLCS-button-group .HTMLCS-button {
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    margin: 0;
}

.HTMLCS-button-group .HTMLCS-button.active, .HTMLCS-button-group .HTMLCS-button.selected {
    border-radius: 0 0 0 0;
}

.HTMLCS-button-group .HTMLCS-button:first-child {
    border-bottom-left-radius: 0.3em;
    border-left: medium none !important;
    border-top-left-radius: 0.3em;
}

.HTMLCS-button-group .HTMLCS-button:last-child {
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.HTMLCS-button-icon {
    background-image: url("Images/HTMLCS-tools.png");
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -12.5px;
    position: absolute;
    top: 50%;
    width: 25px;
}

.HTMLCS-button-icon.refresh {
    background-position: -30px -2px;
}

.HTMLCS-button-icon.settings {
    background-position: -30px -28px;
}

.HTMLCS-button-icon.next {
    background-position: -30px -51px;
}

.HTMLCS-button-icon.previous {
    background-position: -29px -78px;
}

.HTMLCS-settings {
    display: none;
    background-color: #2B2B2B;
    color: #EEEEEE;
    text-shadow: none;
    width: 35em;

    border-radius: 0 0 0.75em 0.75em;
    position: relative;
    text-align: left;
    z-index: 1;
}

.HTMLCS-settings > div {
    padding: 10px;
    border-bottom: 1px solid #000000;
}

.HTMLCS-settings > div:last-child {
    border-bottom: none;
}

#HTMLCS-settings-recheck {
    text-align: center;
}

.HTMLCS-settings h1 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0.1em 0 0.5em;
}

.HTMLCS-settings p {
    color: #666666;
    font-size: 12px;
    margin: 0.5em 0 1.5em;
}

.HTMLCS-settings button {
    font-family: Arial,Sans Serif;
}

.HTMLCS-settings .HTMLCS-checkbox {
    border: 1px solid #444444;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    padding: 0.8em;
    text-align: left;
    text-shadow: none;
    position: relative;
}

.HTMLCS-checkbox > .input-container {
    position: absolute;
    cursor: pointer;
    right: 0.5em;

    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("Images/HTMLCS-tools.png") no-repeat scroll -96px 0px transparent;
}

.HTMLCS-checkbox > .input-container.checked {
    background-position: -96px -20px;
}

.HTMLCS-checkbox > .input-container > input {
    opacity: 0;
}

.HTMLCS-checkbox > label {
    cursor: pointer;
    display: inline-block;
    width: 29.4em;
}

.HTMLCS-settings .HTMLCS-radio {
    margin: 5px 0;
}

.HTMLCS-radio > .input-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("Images/HTMLCS-tools.png") no-repeat scroll -96px -40px transparent;
    position: relative;
    top: -3px;
}

.HTMLCS-radio > .input-container.checked {
    background-position: -96px -60px;
}

.HTMLCS-radio > label {
    font-size: 12px;
    padding-left: 10px;
    color: #EEEEEE;
}

.HTMLCS-radio > .input-container > input {
    padding: 0;
    margin: 0;
    opacity: 0;
    position: relative;
    top: 4px;
    left: 3px;
}

.HTMLCS-message-box {
    background: url("Images/msg-spinner.gif") no-repeat scroll 3px 0.25em #646468;
    border: 1px solid #747379;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    color: #CACAD1;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.4em;
    padding: 0.3em 0.3em 0.3em 22px;
    text-align: left;
    text-shadow: none;
    display: none;
}

#HTMLCS-wrapper.showing-message-box .HTMLCS-message-box {
    display: block;
}

#HTMLCS-wrapper.showing-issue-list .HTMLCS-details {
    display: block;
}

#HTMLCS-wrapper.showing-issue-list .HTMLCS-navigation {
    display: block;
}

#HTMLCS-wrapper.showing-settings .HTMLCS-settings {
    display: block;
}

.HTMLCS-summary-detail {
    display: none;
}

.HTMLCS-summary-detail .HTMLCS-summary-left {
    color: #000000;
    font-weight: bold;
    line-height: 1.35em;
    padding-left: 0.3em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    overflow: visible;
}

.HTMLCS-summary-detail a.HTMLCS-back-home,
.HTMLCS-summary-detail a.HTMLCS-back-home:visited {
    color: #000000;
    display: inline-block;
    padding: 0.45em 20px 0.25em 0;
    position: relative;
    text-decoration: none;
}

.HTMLCS-issue-nav-divider {
    visibility: hidden;
}

.HTMLCS-summary-detail a.HTMLCS-back-home:before {
    background: url("Images/HTMLCS-tools.png") no-repeat scroll 0 -53px transparent;
    content: "";
    display: inline-block;
    height: 11px;
    margin-bottom: -1px;
    margin-right: 0.5em;
    width: 10px;
}

.HTMLCS-summary-detail a.HTMLCS-back-home:after {
    background: url("Images/HTMLCS-tools.png") no-repeat scroll 0 -64px transparent;
    content: "";
    height: 32px;
    margin-top: -15px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
}

.HTMLCS-issue-detail-list.transition-disabled {
    -moz-transition: margin 0s ease 0s;
    -webkit-transition: margin 0s ease 0s;
}

/*
    Pointer
*/
.HTMLCS-pointer {
    background-color: yellow;
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 9999;
}
