#resultsWrapper {
    margin: 20px;
}

fieldset {
    padding: 20px 10px;
    border: none;
    border-top: 2px groove #f0f0f0;
    margin: 0;
}

#options > fieldset {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

legend {
    padding: 3px 10px;
    font-weight: bold;
}
