    <div id="back-to-top" class="off">
        <span><a href="#">top</a></span>
    </div>

    <div id="header">

        <div class="max-width">

            <h1><a href="http://squizlabs.github.io/HTML_CodeSniffer"><span class="screen-hide">{{ site.title }}</span></a></h1>

            <map name="External Links">

            <ul id="sprites">
                <li><a href="http://squiz.com.au" class="header-sprite squiz-logo"><span class="screen-hide">Squiz</span></a></li>
                <li><a href="https://github.com/squizlabs/HTML_CodeSniffer" class="header-sprite github-logo"><span class="screen-hide">HTML_CodeSniffer on GitHub</span></a></li>
                <li><a href="http://twitter.com/htmlcs" class="header-sprite twitter-logo"><span class="screen-hide">Follow us on Twitter</span></a></li>
            </ul>

            </map>

        </div>

    </div>