<head>

<title>{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %} - {{ site.title }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="{{ "/css/inside.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
<link href="{{ "/css/inside-print.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="print">
<link rel="shortcut icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
<script type="text/javascript" src="{{ "/inside.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-359178-16']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</head>